@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

body {
	background-color: rgba(0,0,0,0.95);
	text-shadow: 5px 5px 5px black;
}
body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/dot.png") repeat;
	z-index: -1;
}
.fp-viewing-0 .main {
	opacity: 1;
	transition: 1s;
}
.fp-viewing-1 .main {
	transition: 0.25s ease-out;
	filter: blur(50px);
	opacity: 0;
}
/*.fp-viewing-1 .avatar {
	width: 50px;
	border: 2px solid #7ed8f2;
}
.fp-viewing-1 .name {
	font-size: 50px;
}
.fp-viewing-1 .description {
	display: none;
}*/
.main {
	text-align: center;
	width: 100%;
	font-family: Baloo Bhai;
	animation: mainSlide 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}
.about {
	text-align: center;
	width: 100%;
	font-family: Baloo Bhai;
}
.aboutheader {
	font-size: 7em;
	color: #7ed8f2;
	letter-spacing: 100px;
	filter: blur(50px);
}
.whatido {
	text-align: center;
	width: 100%;
	font-family: Baloo Bhai;
}
.whatidoheader {
	font-size: 7em;
	color: #7ed8f2;
	letter-spacing: 100px;
	filter: blur(50px);
}
.fp-viewing-1 .aboutheader {
	letter-spacing: initial;
	filter: blur(0px);
	transition: 1s ease-out;
}
.fp-viewing-0 .aboutheader, .fp-viewing-2 .aboutheader {
	transition: 1s;
}
.fp-viewing-2 .whatidoheader {
	letter-spacing: initial;
	filter: blur(0px);
	transition: 1s ease-out;
}
.fp-viewing-1 .whatidoheader {
	transition: 1s;
}
.abouttext {
	width: 30%;
	font-size: 20px;
	margin: auto;
	filter: blur(20px);
	color: #fff;
	margin-top: 100px;
	opacity: 0;
	text-shadow: 2px 2px 2px black;
}
.fp-viewing-1 .abouttext {
	margin-top: initial;
	filter: blur(0);
	opacity: 1;
	transition: 1s ease-out;
}
.fp-viewing-0 .abouttext, .fp-viewing-2 .abouttext {
	transition: 1s;
}
@keyframes mainSlide {
	0% {margin-left: 100%;opacity: 0;}
}
.avatar {
	border-radius: 99999px;
	border: 12px solid #fff;
	background-color: black;
	box-shadow: 5px 5px 5px black;
	animation: avatarRoll 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}
@keyframes avatarRoll {
	0% {transform: rotateZ(270deg); border: 0;}
}
.name {
	display: inline-block;
	vertical-align: middle;
	line-height: 0.3;
	font-size: 10em;
	padding-left: 30px;
	color: #7ed8f2;
	animation: nameSlide 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}
@keyframes nameSlide {
	0% {display: none; opacity: 0; filter:blur(20px);}
	50% {display: none; opacity: 0; filter:blur(20px);}
}
.description {
	width: 100%;
	display: inline-block;
	font-size: 30px;
	padding-left: initial;
	color: black;
	background-color: #fff;
	line-height: initial;
	border-radius: 0 0 9999px 9999px;
	text-shadow: none;
	box-shadow: 5px 5px 5px black;
}
.navbar {
	position: absolute;
	top: 0;
	padding: 10px;
	left: -250px;
	text-align: initial;
	width: 0;
	box-shadow: 2px 2px 2px black;
}
.navbar1 {
	position: absolute;
	top: 0;
	padding: 10px;
	right: -250px;
	text-align: initial;
	width: 0;
	box-shadow: 2px 2px 2px black;
}
.navavatar, .navavatar1 {
	width: 75px;
	border-radius: 9999px;
	border: 2px solid #fff;
	box-shadow: 2px 2px 2px black;
	opacity: 0;
}
.navname, .navname1 {
	font-size: 30px;
	padding-left: 10px;
	opacity: 0;
	color: #7ed8f2;
	vertical-align: middle;
}
/* ------------------------------------------------------------------------ */
.fp-viewing-0 .navavatar, .fp-viewing-2 .navavatar {
	opacity: 0;
	transition: 3s;
}
.fp-viewing-0 .navname, .fp-viewing-2 .navname {
	opacity: 0;
	transition: 3s;
}
.fp-viewing-1 .navavatar {
	opacity: 1;
	transition: 3s;
}
.fp-viewing-1 .navname {
	opacity: 1;
	transition: 3s;
}
.fp-viewing-1 .navbar {
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	transition: 1s;
}
.fp-viewing-0 .navbar, .fp-viewing-2 .navbar {
	transition: 0.25s;
}
/* ------------------------------------------------------------------------ */
.fp-viewing-1 .navavatar1 {
	opacity: 0;
	transition: 3s;
}
.fp-viewing-1 .navname1 {
	opacity: 0;
	transition: 3s;
}
.fp-viewing-2 .navavatar1 {
	opacity: 1;
	transition: 3s;
}
.fp-viewing-2 .navname1 {
	opacity: 1;
	transition: 3s;
}
.fp-viewing-2 .navbar1 {
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	transition: 1s;
}
.fp-viewing-1 .navbar1 {
	transition: 0.25s;
}
.card {
	padding: 40px 10px;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 2px 2px 2px black;
	color: #fff;
	line-height: 5;
}
.card p {
	line-height: initial;
	color: grey;
	font-size: 1vw;
}